*, body {
    font-family: Poppins;
}

.jumbotron {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1140%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c640.342C117.028%2c624.668%2c209.436%2c543.81%2c304.352%2c473.58C393.308%2c407.76%2c488.239%2c344.618%2c535.136%2c244.388C582.245%2c143.704%2c588.821%2c27.252%2c563.87%2c-81.072C540.055%2c-184.464%2c471.558%2c-268.313%2c399.174%2c-345.886C329.023%2c-421.066%2c248.953%2c-484.169%2c153.073%2c-521.32C50.962%2c-560.885%2c-57.259%2c-578.999%2c-165.845%2c-564.818C-287.579%2c-548.92%2c-429.448%2c-534.122%2c-502.786%2c-435.666C-576.054%2c-337.303%2c-533.641%2c-198.77%2c-529.822%2c-76.177C-526.641%2c25.92%2c-508.344%2c121.497%2c-482.349%2c220.281C-450.908%2c339.761%2c-454.849%2c481.646%2c-361.679%2c562.784C-266.774%2c645.434%2c-124.735%2c657.048%2c0%2c640.342' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1193.5320000000002C1556.98 1192.472 1658.167 1112.7530000000002 1744.495 1033.804 1821.422 963.453 1862.857 867.607 1902.027 771.001 1939.632 678.253 1965.435 584.243 1967.344 484.179 1969.545 368.848 1990.644 235.48200000000003 1913.888 149.37400000000002 1837.135 63.26999999999998 1699.592 84.805 1587.412 57.95999999999998 1481.888 32.706999999999994 1379.195-32.13199999999995 1274.501-3.6359999999999673 1169.31 24.995000000000005 1108.964 129.01999999999998 1034.342 208.49599999999998 956.3910000000001 291.518 852.071 360.704 827.922 471.996 803.31 585.419 850.241 701.9970000000001 905.059 804.299 957.5550000000001 902.268 1042.063 973.962 1131.937 1039.356 1226.709 1108.313 1322.801 1194.594 1440 1193.5320000000002' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1140'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    height: 100vh;
    color: white;
}

.mynavbar .navbar-brand img {
    width: 30px;
    margin-right: 10px;
}

.mynavbar .navbar-brand {
    font-size: 28px;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.mynavbar .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.mynavbar .nav-link:hover {
    border-bottom: 2px yellowgreen solid;
}

.nav-color {
    background-color: #343a40;
}